* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background: azure;
}
.container {
    position: relative;
    width: 100%;
}
.navbar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, cornsilk, azure,cornsilk);
}
.section {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.section .group {
    position: relative;
    background: rgba(0, 0, 128, 0.386);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section .group a {
    text-decoration: none;
    color: black;
}
@media (min-width:1024px){
    .navbar {
        padding: 15px;
    }
    .section {
        gap: 10px;
        flex-direction: row;
    }
    .section .group {
        width: 24%;
        height: 300px;
        padding: 20px;
    }
}
@media (max-width:1023px){
    .navbar {
        padding: 10px;
    }
    .section {
        gap: 10px;
        flex-direction: row;
    }
    .section .group {
        width: 180px; /* 720 / 4 = 180*/
        height: 250px;
        padding: 15px;
    }
}
@media (max-width:720px){
    .navbar {
        padding: 10px;
    }
    .section {
        gap: 10px;
        flex-direction: column;
    }
    .section .group {
        width: 90%;
        height: 180px;
        padding: 15px;
    }
}