* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background: #000016;
}
.container {
    width: 100%;
    position: relative;
}
.container h1 {
    text-align: center;
    color: azure;
}
.container button[clear]{
    color: azure;
    background: transparent;
    border: 1px solid silver;
    border-radius: 2px;
    outline: none;
    text-align: center;
    font-size: 18px;
}
.container .addData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.addData form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.addData form p {
    color: azure;
    font-size: 20px;
}
.addData form input {
    background: transparent;
    font-size: 18px;
    color: azure;
    outline: none;
    border: 1px solid silver;
    border-radius: 2px;
    box-shadow: 0 2px 4px 1px rgba(192, 192, 192, 0.28);
}
.addData form button {
    background: transparent;
    border: 1px solid silver;
    outline: none;
    border-radius: 2px;
    text-align: center;
    color: azure;
    font-size: 18px;
}

@media (min-width:1024px){
    .container h1 {
        font-size: 38px;
    }
    .container .addData {
        padding: 50px;
        flex-direction: row;
    }
}
@media (max-width:1023px){
    .container h1 {
        font-size: 30px;
    }
    .container .addData {
        padding: 35px;
        flex-direction: row;
    }
}
@media (max-width:720px){
    .container h1 {
        font-size: 24px;
    }
    .container .addData {
        padding: 20px;
        flex-direction: column;
    }
}